html
    head
        title= title

    body
        h1= message
        table(class=table)
            tr=n 
                th Identifiant
                th Ville
            each n in data.cities
                tr
                    td=n.id
                    td=n.name